*{
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0px;
}

#get{
  /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Courier New', Courier, monospace;
    height: 20vh;
}
.forwardSpin {
    height: 50%;
    width: 4.9%;
    border: 8px solid white;
    border-radius: 5px;
    pointer-events:painted;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.backwardSpin{
    height: 50%;
    width: 50%;
    border: white 4px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.forwardSpinInner {
    height: 50%;
    width: 50%;
    background-color: white;
    border: black 4px solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.black{
    background-color: black;
    color: white;
    height: 50%;
    width: 40%;
}
  @media (prefers-reduced-motion: no-preference) {
    .forwardSpin{
      animation: 2s App-logo-spin infinite linear;
    }
    .backwardSpin {
      animation: App-logo-spin infinite 1s alternate;
    }
    .forwardSpinInner {
      animation: App-logo-spin infinite 1.5s reverse;
    }
    .black{
        animation: App-logo-spin alternate-reverse 9s infinite;
    }
  }
  
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }



/* 
@media screen  {
    
  }

  /* 425px media screen has a problem */

  